<section class="container mt-5">
  <h2>Add a joke!</h2>

  <form class="row new-joke-form">
    <div class="col-md-3">
      <label for="joke-title" class="form-label">Title</label>
      <input type="text" class="form-control" id="joke-title" name="joke-title"/>
    </div>
    <div class="col-md-3">
      <label for="joke-body" class="form-label">Joke</label>
      <input id="joke-body" class="form-control" name="joke-body" />
    </div>
    <div >
    <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</section>

{{#if jokes.length}}
<section class="container mt-5">
  <h2>Your Jokes</h2>
  <ol>
    {{#each jokes as |joke|}}
    <li>
      {{> joke-info joke}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-joke.js"></script>