<section>

  <h2>{{user.username}}'s Jokes</h2>
  <ol>
    {{#each user.jokes as |joke|}}
    <li>
      <article class="joke">
  <div class="title">
    <a href="/api/jokes/{{id}}">{{title}}</a>
  </div>
  <div class="meta">
  created on {{format_date created_at}}
  </div>
</article>
    </li>
    {{/each}}
  </ol>
</section>
