<article class="container mt-5 post">
  <div class="title">
    <h2>{{jokes.title}}</h2>
  </div>
  <div class="joke">{{jokes.joke_body}}</div>
  <div class="meta">
    by {{jokes.user.username}} on {{jokes.created_at}}
  </div>
  {{#if loggedIn}}
  <form class="comment-form">
  <div>

    <textarea name="comment-body"></textarea>
  </div>
  <div>
        <button type="submit">add comment</button>
    <button type="button" class="btn btn-primary upvote-btn">upvote</button>

  </div>
  </form>
  {{/if}}
</article>
{{> comments jokes.comments}}
<script src="/javascript/upvote.js"></script>
<script src="/javascript/comment.js"></script>

